<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-royal" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon fa-icon fa-dashboard" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title class=" light" data-comp-id="nav-title.1">Flex S.M.A.R.T. Dashboard</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1"
        style="background-color: rgb(126, 118, 148);">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1"><img data-comp-id="image.1" data-img="" ng-src="images/AppIcon_192.png"
                    style="width: 46px;"></div>
                <div class="col col-90" data-comp-id="column.2">
                    <div class=" text-left" data-comp-id="text.1" ng-bind="data.Site"
                        style="font-size: 1.2em; line-height: 46px; color: rgb(179, 179, 179);">Site Name</div>
                </div>
            </div>
            <div class="row light royal-bg" data-comp-id="row.2" style="padding: 10px;">
                <div class="col text-center" data-comp-id="column.3">
                    <div class=" light" data-comp-id="text.2" ng-bind="data.Building"
                        style="font-size: 1.4em;">Building</div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.2"></div>
    </ion-content>
</ion-view>